html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --day-bg-color: #fff;
  --day-color: #000;
  --night-bg-color: #1b1b1b;
  --night-color: #fff;
  --mode-bg-color: var(--day-bg-color);
  --mode-front-color: var(--day-color);
}

body {
  height: fit-content;
  position: relative;
  background-color: var(--mode-bg-color);
}

.content {
  width: 70%;
  min-height: 900px;
  height: fit-content;
  margin-top: 55px;
  margin-left: calc(10% + 180px);
  display: flex;
}


